Connected Hard Hat Node-RED Flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;\csgray\c100000;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"3e77d543.c1882a","type":"ibmiot in","z":"a9992e9.2da0dd","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"247189bc2a07","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":118,"y":295,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]\},\{"id":"ae0082ac.51ff8","type":"function","z":"a9992e9.2da0dd","name":"Max Accel","func":"var Xdata, Ydata, Zdata, maxAccVal\\n\\nvar Xdata = Math.abs(msg.payload.d.accelX);\\nvar Ydata = Math.abs(msg.payload.d.accelY);\\nvar Zdata = Math.abs(msg.payload.d.accelZ);\\n\\nmaxAccVal = Math.max (Xdata, Ydata, Zdata);\\n\\nreturn \{payload:maxAccVal,deviceId:msg.deviceId\};","outputs":1,"noerr":0,"x":299,"y":295,"wires":[["ff6ad0d9.00953"]]\},\{"id":"ff6ad0d9.00953","type":"switch","z":"a9992e9.2da0dd","name":"Thresh","property":"payload","propertyType":"msg","rules":[\{"t":"gt","v":"2","vt":"str"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":442,"y":295,"wires":[["3c9735b2.9e2a6a"],[]]\},\{"id":"a507faaf.302968","type":"twilio out","z":"a9992e9.2da0dd","service":"_ext_","twilio":"73890efe.2d083","from":"","number":"","name":"Send alert","x":1263,"y":288,"wires":[]\},\{"id":"813b1679.5c9b18","type":"delay","z":"a9992e9.2da0dd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1089,"y":288,"wires":[["a507faaf.302968"]]\},\{"id":"2cc8101c.d4fd","type":"debug","z":"a9992e9.2da0dd","name":"","active":true,"console":"false","complete":"false","x":1080,"y":208,"wires":[]\},\{"id":"d2ebfb8e.5db628","type":"cloudant in","z":"a9992e9.2da0dd","name":"","cloudant":"","database":"nodered","service":"Connected Hard Hat-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":742,"y":287,"wires":[["c48069f4.235cf8"]]\},\{"id":"c0c482df.3f3b8","type":"debug","z":"a9992e9.2da0dd","name":"device data","active":true,"console":"false","complete":"true","x":279,"y":369,"wires":[]\},\{"id":"3c9735b2.9e2a6a","type":"function","z":"a9992e9.2da0dd","name":"deviceId","func":"global.set(\\"accMax\\",msg.payload);\\nreturn \{payload:msg.deviceId\};","outputs":1,"noerr":0,"x":578,"y":288,"wires":[["d2ebfb8e.5db628"]]\},\{"id":"c48069f4.235cf8","type":"function","z":"a9992e9.2da0dd","name":"msg","func":"var acc = global.get(\\"accMax\\");\\nvar newMsg = msg.payload.empName +\\n\\"'s acceleration critical (\\" +\\nacc + \\").\\";\\nreturn \{payload:newMsg\};","outputs":1,"noerr":0,"x":897,"y":287,"wires":[["2cc8101c.d4fd","813b1679.5c9b18"]]\},\{"id":"73890efe.2d083","type":"twilio-api","z":"a9992e9.2da0dd","sid":"AC0eb0069a0084086ecde2d69b74dcf4d5","from":"","name":"twilio"\}]}